<section class="section-content">
  <mat-list class="list-title">
    <mat-list-item>Lista de clientes</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div  *ngIf="isLoadingResults" class="loading-shade">
    <div class="spinner"><mat-spinner></mat-spinner></div>
  </div>
  <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" (matSortChange)="loadClients($event)" matSort matSortActive="Client" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef>
              <button mat-mini-fab color="primary" [routerLink]="[ '/catalogos/clientes/nuevo' ]" matTooltip="Agregar nuevo cliente" aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon>add</mat-icon>
              </button> 
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button  class="c-orange" matTooltip="Editar cliente" [routerLink]="[ '/catalogos/clientes/edit/', element.Id_Client ]">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Eliminar cliente" (click)="deleteClientDialog(element.Id_Client,element.Client)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Client">
          <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>CLIENTE</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.client" (change)="loadClients()">
              <button mat-button *ngIf="search.client" matSuffix mat-icon-button aria-label="Clear" (click)="search.client='';loadClients()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
        </ng-container>
        <ng-container matColumnDef="PhoneNumber">
          <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>TELÉFONO</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.phone" (change)="loadClients()">
              <button mat-button *ngIf="search.phone" matSuffix mat-icon-button aria-label="Clear" (click)="search.phone='';loadClients()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.PhoneNumber}} </td>
        </ng-container>
        <ng-container matColumnDef="Address">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>DOMICILIO </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.address" (change)="loadClients()">
              <button mat-button *ngIf="search.address" matSuffix mat-icon-button aria-label="Clear" (click)="search.address='';loadClients()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
        </ng-container>
        <ng-container matColumnDef="Fk_IdRoute">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header> RUTA </div>
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.route" (change)="loadClients()">
              <button mat-button *ngIf="search.route" matSuffix mat-icon-button aria-label="Clear" (click)="search.route='';loadClients()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadClients('',$event)" ></mat-paginator>
  </ng-container>
</section>