<section class="section-content">
  <mat-list class="list-title">
    <mat-list-item>Lista de empleados</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div  *ngIf="isLoadingResults" class="loading-shade">
    <div class="spinner"><mat-spinner></mat-spinner></div>
  </div>
  <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" (matSortChange)="loadEmployes($event)" matSort matSortActive="Name" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef>
              <button mat-mini-fab color="primary" [routerLink]="[ '/catalogos/employes/new' ]" matTooltip="Agregar nuevo empleado" aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon>add</mat-icon>
              </button> 
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button  class="c-orange" matTooltip="Editar empleado" [routerLink]="[ '/catalogos/employes/new/', element.Id_Employe ]">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Eliminar empleado" (click)="deleteEmployeDialog(element.Id_Employe,element.Name)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Empleado</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Name" (change)="loadEmployes()">
              <button mat-button *ngIf="search.Name" matSuffix mat-icon-button aria-label="Clear" (click)="search.Name='';loadEmployes()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
        <ng-container matColumnDef="Position">
          <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Puesto</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Position" (change)="loadEmployes()">
              <button mat-button *ngIf="search.Position" matSuffix mat-icon-button aria-label="Clear" (click)="search.Position='';loadEmployes()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
        </ng-container>
        <ng-container matColumnDef="Salary">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Salario </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Salary" (change)="loadEmployes()">
              <button mat-button *ngIf="search.Salary" matSuffix mat-icon-button aria-label="Clear" (click)="search.Salary='';loadEmployes()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Salary | currency}} </td>
        </ng-container>
        <ng-container matColumnDef="Route">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Ruta </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadEmployes()">
              <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadEmployes()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
        </ng-container>
        <ng-container matColumnDef="Active">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header> Status </div>
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Active" (change)="loadEmployes()">
              <button mat-button *ngIf="search.Active" matSuffix mat-icon-button aria-label="Clear" (click)="search.Active='';loadEmployes()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Active == 1 ? "Activo" : "Inacivo" }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadEmployes('',$event)" ></mat-paginator>
  </ng-container>
</section>