<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <p>{{content}}</p>
</div>
<div mat-dialog-actions align="end">
    <button mat-button matDialogClose="cancel" color="primary"><i class="material-icons">not_interested</i> Cancelar</button>
    <button mat-button matDialogClose="confirm" color="warn"><i class="material-icons">done</i> Aceptar</button>
</div>