<div class="container" style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Capturar usuario </mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form" (ngSubmit)="save()"> 
      <mat-card-content class="marg-top-bot-50 t-center form-container">
          <mat-form-field>
            <input matInput placeholder="Nombre completo" formControlName="name">
            <mat-error *ngIf="form.controls.name.status==='INVALID'">Favor escribir el nombre.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="user">
            <mat-error *ngIf="form.controls.user.status==='INVALID'">Favor escribir el usuario.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Contraseña" formControlName="password" type="password">
            <mat-error *ngIf="form.controls.password.status==='INVALID'">Favor escribir la contraseña.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Correo" formControlName="email" type="email">
            <mat-error *ngIf="form.controls.email.status==='INVALID'">Favor escribir el correo.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Ruta"  formControlName="Fk_IdRoute">
              <mat-option *ngFor="let r of Routes | objectToArray" value="{{r.Id_Route}}">
                  {{r.Route}} 
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.Fk_IdRoute.status==='INVALID'">Favor de seleccionar una ruta.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Tipo de usuario"  formControlName="UserType">
              <mat-option [value]="1">Administrador</mat-option>
              <mat-option [value]="2">Repartidor</mat-option>
              <mat-option [value]="3">Super usuario</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.UserType.status==='INVALID'">Favor de seleccionar el tipo de usuario.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Statuts"  formControlName="Active">
              <mat-option [value]="1">Activo</mat-option>
              <mat-option [value]="0">Inactivo</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.Active.status==='INVALID'">Favor de seleccionar un status.</mat-error>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
        <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/catalogos/users/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>