<div class="container" style="width: 50%; margin: auto;">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Capturar gastos</mat-card-title>
      </mat-card-header>
      <mat-divider>
      </mat-divider>
      <form [formGroup]="form" (ngSubmit)="save()"> 
        <mat-card-content class="marg-top-bot-50 t-center form-container">
            <mat-form-field>
              <input matInput placeholder="Nombre del gasto" formControlName="Expense">
              <mat-error *ngIf="form.controls.Expense.status==='INVALID'">Favor de poner el nombre del gasto.</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="t-center">
          <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
          <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/catalogos/expenses/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>