<h1 mat-dialog-title>Agregar factura</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="saveBill()"> 
    <mat-form-field>
      <input matInput placeholder="Factura" formControlName="BillNumber" autocomplete="off">
      <mat-error *ngIf="form.controls.BillNumber.status==='INVALID'">Favor de agregar la factura.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="BillDat" [matDatepicker]="pickerByBill" placeholder="Fecha de factura" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="pickerByBill"></mat-datepicker-toggle>
      <mat-datepicker #pickerByBill></mat-datepicker>
      <mat-error *ngIf="form.controls.BillDat.status==='INVALID'">Favor de seleccionar una fecha.</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button matDialogClose="cancel" color="primary"><i class="material-icons">not_interested</i> Cancelar</button>
    <button mat-button  (click)="saveBill()" color="warn"><i class="material-icons">done</i> Guardar factura</button>
</div>