<div class="container" style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nuevo periodo de trabajo semanal</mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form" (ngSubmit)="savePeriod()"> 
      <mat-card-content class="marg-top-bot-50 t-center">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" placeholder="Fecha Inicial" formControlName="DateInin" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <mat-error *ngIf="form.controls.DateInin.status==='INVALID'">Favor de seleccionar una fecha.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Fecha Inicial" formControlName="DateEnd" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="form.controls.DateEnd.status==='INVALID'">Favor de seleccionar una fecha.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
        <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>