table{
    width: 100%;
}
.div-filters{
    text-align: center;
}
.div-filters .mat-divider {
    margin-bottom: 4px;
}
section.checkbox{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}