<section class="section-content">
  <mat-list class="list-title">
    <mat-list-item><button mat-stroked-button color="primary" [routerLink]="[ '/sales/list' ]" style="margin-right: 1em;"><i class="material-icons"> reply </i> Regresar  </button>  Ventas del cliente {{nameClient}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div  *ngIf="isLoadingResults" class="loading-shade">
    <div class="spinner"><mat-spinner></mat-spinner></div>
  </div>
  <div class="div-filters">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerInin" placeholder="Fecha inicial" [(ngModel)]="search.DateInin" (dateChange)="loadSalesDetail()">
      <mat-datepicker-toggle matSuffix [for]="pickerInin"></mat-datepicker-toggle>
      <mat-datepicker #pickerInin></mat-datepicker>
      <button mat-button *ngIf="search.DateInin" matSuffix mat-icon-button aria-label="Clear" (click)="search.DateInin='';loadSalesDetail()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerEnd" placeholder="Fecha final" [(ngModel)]="search.DateEnd" (dateChange)="loadSalesDetail()">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <button mat-button *ngIf="search.DateEnd" matSuffix mat-icon-button aria-label="Clear" (click)="search.DateEnd='';loadSalesDetail()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <section class="checkbox">
      <mat-checkbox [(ngModel)]="search.ViewAllNotes" (value)="1" checked (change)="loadSalesDetail()">Ver notas facturadas</mat-checkbox>
    </section>
    <mat-divider></mat-divider>
  </div>
  <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" (matSortChange)="loadSalesDetail($event)" matSort matSortActive="Date" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef>
              <button mat-button *ngIf="search.ViewAllNotes"  (click)="resetoreBill()" matTooltip="Eliminar datos de facturación" color="warn"><i class="material-icons">restore</i> </button>
              <button mat-flat-button color="primary" (click)="showDialogBill()">Facturar</button>
          </th>
          <td mat-cell *matCellDef="let element">
              <mat-checkbox (change)="checkedIn(element.Id_Detail, $event.checked)"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Fecha Venta</div> 
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Buscar..." (dateChange)="loadSalesDetail()" [(ngModel)]="search.Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <button mat-button *ngIf="search.Date" matSuffix mat-icon-button aria-label="Clear" (click)="search.Date='';loadSalesDetail()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
        </ng-container>
        <ng-container matColumnDef="Note">
          <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Nota</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Note" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.Note" matSuffix mat-icon-button aria-label="Clear" (click)="search.Note='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Note}} </td>
        </ng-container>
        <ng-container matColumnDef="Quantity">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Garrafones </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Quantity" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.Quantity" matSuffix mat-icon-button aria-label="Clear" (click)="search.Quantity='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Quantity }} </td>
        </ng-container>
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Precio de venta </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Price" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.Price" matSuffix mat-icon-button aria-label="Clear" (click)="search.Price='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Price | currency }} </td>
        </ng-container>
        <ng-container matColumnDef="Total">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Total </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Total" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.Total" matSuffix mat-icon-button aria-label="Clear" (click)="search.Total='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Total | currency }} </td>
        </ng-container>
        <ng-container matColumnDef="BillNumber">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Factura</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.BillNumber" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.BillNumber" matSuffix mat-icon-button aria-label="Clear" (click)="search.BillNumber='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
<td mat-cell *matCellDef="let element"> {{ element.BillNumber }} </td>
</ng-container>
        <ng-container matColumnDef="BillDate">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Fecha</div> 
              <mat-form-field>
                  <input matInput [matDatepicker]="picker2" placeholder="Buscar..." [(ngModel)]="search.BillDate" (dateChange)="loadSalesDetail()">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <button mat-button *ngIf="search.BillDate" matSuffix mat-icon-button aria-label="Clear" (click)="search.BillDate='';loadSalesDetail()">
                    <mat-icon>close</mat-icon>
                  </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.BillDate }} </td>
          </ng-container>
        <ng-container matColumnDef="UserBill">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header> Facturo </div>
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.UserBill" (change)="loadSalesDetail()">
              <button mat-button *ngIf="search.UserBill" matSuffix mat-icon-button aria-label="Clear" (click)="search.UserBill='';loadSalesDetail()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.UserBill}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadSalesDetail('',$event)" ></mat-paginator>
  </ng-container>
</section>