<section class="section-content">
    <mat-list class="list-title">
      <mat-list-item>Lista de clientes con deuda LUCY</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div  *ngIf="isLoadingResults" class="loading-shade">
      <div class="spinner"><mat-spinner></mat-spinner></div>
    </div>
    <ng-container *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" (matSortChange)="loadDebt($event)" matSort matSortActive="Client" matSortDisableClear matSortDirection="asc">
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>
                
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button  class="c-orange" matTooltip="Ver detalle de deuda del cliente" [routerLink]="[ '/debt-sheet/detail/', element.Id_Client ]">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="Client">
            <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>CLIENTE</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Client" (change)="loadDebt()">
                <button mat-button *ngIf="search.Client" matSuffix mat-icon-button aria-label="Clear" (click)="search.Client='';loadDebt()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
          </ng-container>
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Garrafones</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Quantity" (change)="loadDebt()">
                <button mat-button *ngIf="search.Quantity" matSuffix mat-icon-button aria-label="Clear" (click)="search.Quantity='';loadDebt()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Total </div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Total" (change)="loadDebt()">
                <button mat-button *ngIf="search.Total" matSuffix mat-icon-button aria-label="Clear" (click)="search.Total='';loadDebt()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Total | currency }} </td>
          </ng-container>
          <ng-container matColumnDef="Route">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header> RUTA </div>
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadDebt()">
                <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadDebt()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadDebt('',$event)" ></mat-paginator>
    </ng-container>
  </section>