<section class="section-content">
    <mat-list class="list-title">
      <mat-list-item>Lista de precios</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div  *ngIf="isLoadingResults" class="loading-shade">
      <div class="spinner"><mat-spinner></mat-spinner></div>
    </div>
    <ng-container *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" (matSortChange)="loadData($event)" matSort matSortActive="Name" matSortDisableClear matSortDirection="asc">
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab color="primary" [routerLink]="[ '/catalogos/prices/new' ]" matTooltip="Agregar nuevo precio" aria-label="Button that displays a tooltip when focused or hovered over">
                  <mat-icon>add</mat-icon>
                </button> 
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" matTooltip="Eliminar precio" (click)="deleteDialog(element.Id_Product,element.Price)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Precio</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Price" (change)="loadData()">
                <button mat-button *ngIf="search.Price" matSuffix mat-icon-button aria-label="Clear" (click)="search.Price='';loadData()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Price | currency }} </td>
          </ng-container>
          <ng-container matColumnDef="Route">
            <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Ruta</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadData()">
                <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadData()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
          </ng-container>
          <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Descripción </div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Description" (change)="loadData()">
                <button mat-button *ngIf="search.Description" matSuffix mat-icon-button aria-label="Clear" (click)="search.Description='';loadData()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Description }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadData('',$event)" ></mat-paginator>
    </ng-container>
  </section>