<ng-template [ngIf]="login">
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="[ '/']" *ngIf="role === 'Administrador' || role === 'Super usuario' ">Captura en planta</button>
    <button mat-menu-item [routerLink]="[ '/debt-sheet/list']" *ngIf="role === 'Administrador' || role === 'Super usuario' ">Lista completa de fiados LUCY</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [routerLink]="[ '/rutas/cortes']" *ngIf="role === 'Repartidor' || role === 'Super usuario' ">Captura por repartidor</button>
    <button mat-menu-item [routerLink]="[ '/debt/list']" *ngIf="role === 'Repartidor' || role === 'Super usuario' " >Lista completa de fiados CORTES</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [routerLink]="[ '/sales/list']" *ngIf="role === 'Administrador' || role === 'Super usuario' " >Ventas por facturar</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [routerLink]="[ '/catalogos/prices']" *ngIf="role === 'Administrador' || role === 'Super usuario' ">Lista de precios</button>
    <button mat-menu-item [routerLink]="[ '/catalogos/expenses']" *ngIf="role === 'Administrador' || role === 'Super usuario' ">Lista de gastos</button>
    <button mat-menu-item [routerLink]="[ '/catalogos/clientes']">Lista de clientes</button>
    <button mat-menu-item [routerLink]="[ '/catalogos/employes']" *ngIf="role === 'Administrador' || role === 'Super usuario' ">Lista de empleados</button>
    <mat-divider></mat-divider>
    <button mat-menu-item [routerLink]="[ '/catalogos/users']" *ngIf="role === 'Super usuario' ">Lista de usuarios</button>
    <button mat-menu-item (click)="logout()">Salir</button>
  </mat-menu>
</ng-template>
<router-outlet></router-outlet> 
<notifier-container></notifier-container>