<div class="container" style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Capturar precio </mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form" (ngSubmit)="save()"> 
      <mat-card-content class="marg-top-bot-50 t-center form-container">
          <mat-form-field>
            <input matInput placeholder="Precio del garrafon" formControlName="Price">
            <mat-error *ngIf="form.controls.Price.status==='INVALID'">Favor de poner el precio.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Ruta"  formControlName="Fk_IdRoute">
              <mat-option *ngFor="let r of Routes | objectToArray" value="{{r.Id_Route}}">
                  {{r.Route}} 
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.Fk_IdRoute.status==='INVALID'">Favor de seleccionar una ruta.</mat-error>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
        <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/catalogos/prices/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>