<div class="container" style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Captura de empleado </mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form" (ngSubmit)="saveEmploye()"> 
      <mat-card-content class="marg-top-bot-50 t-center form-container">
          <mat-form-field>
            <input matInput placeholder="Nombre completo del empleado" formControlName="Name" [(ngModel)]="dataEmploye.Name">
            <mat-error *ngIf="form.controls.Name.status==='INVALID'">Favor escribir el nombre del empleado.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Puesto" formControlName="Position" [(ngModel)]="dataEmploye.Position">
            <mat-error *ngIf="form.controls.Position.status==='INVALID'">Favor escribir el puesto.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Salario" formControlName="Salary" [(ngModel)]="dataEmploye.Salary">
            <mat-error *ngIf="form.controls.Salary.status==='INVALID'">Favor agregar un salario semanal.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Ruta"  formControlName="Fk_IdRoute" [(ngModel)]="dataEmploye.Fk_IdRoute">
              <mat-option *ngFor="let r of Routes | objectToArray" [value]="r.Id_Route">
                  {{r.Route}} 
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls.Fk_IdRoute.status==='INVALID'">Favor de seleccionar una ruta.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Statuts"  formControlName="Active" [(ngModel)]="dataEmploye.Active">
                <mat-option [value]="1">Activo</mat-option>
                <mat-option [value]="0">Inactivo</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.Active.status==='INVALID'">Favor de seleccionar un status.</mat-error>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
        <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/catalogos/employes/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>