<section class="section-content">
  <mat-list class="list-title">
    <mat-list-item>Lista de usuarios</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div  *ngIf="isLoadingResults" class="loading-shade">
    <div class="spinner"><mat-spinner></mat-spinner></div>
  </div>
  <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" (matSortChange)="loadData($event)" matSort matSortActive="Name" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef>
              <button mat-mini-fab color="primary" [routerLink]="[ '/catalogos/users/new' ]" matTooltip="Agregar nuevo usuario" aria-label="Button that displays a tooltip when focused or hovered over">
                <mat-icon>add</mat-icon>
              </button> 
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button  class="c-orange" matTooltip="Editar usuario" [routerLink]="[ '/catalogos/users/edit/', element.id ]">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Eliminar usuario" (click)="deleteDialog(element.id,element.user)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Nombre</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.name" (change)="loadData()">
              <button mat-button *ngIf="search.name" matSuffix mat-icon-button aria-label="Clear" (click)="search.name='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Usuario </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.user" (change)="loadData()">
              <button mat-button *ngIf="search.user" matSuffix mat-icon-button aria-label="Clear" (click)="search.user='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.user }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Email </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.email" (change)="loadData()">
              <button mat-button *ngIf="search.email" matSuffix mat-icon-button aria-label="Clear" (click)="search.email='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>
        <ng-container matColumnDef="UserType">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Tipo </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.UserType" (change)="loadData()">
              <button mat-button *ngIf="search.UserType" matSuffix mat-icon-button aria-label="Clear" (click)="search.UserType='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.UserType }} </td>
        </ng-container>
        <ng-container matColumnDef="Active">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Status </div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Active" (change)="loadData()">
              <button mat-button *ngIf="search.Active" matSuffix mat-icon-button aria-label="Clear" (click)="search.Active='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{ element.Active }} </td>
        </ng-container>
        <ng-container matColumnDef="Route">
          <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Ruta</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadData()">
              <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadData()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadData('',$event)" ></mat-paginator>
  </ng-container>
</section>