<section class="section-content">
  <mat-list class="list-title">
    <mat-list-item>Lista de facturación</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div  *ngIf="isLoadingResult" class="loading-shade">
    <div class="spinner"><mat-spinner></mat-spinner></div>
  </div>
  <ng-container *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" (matSortChange)="loadSales($event)" matSort matSortActive="Client" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="Options">
          <th mat-header-cell *matHeaderCellDef>
              
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button  class="c-orange" matTooltip="Ver detalle de ventas del cliente" [routerLink]="[ '/sales/detail/', element.Id_Client ]">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="Client">
          <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>CLIENTE</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Client" (change)="loadSales()">
              <button mat-button *ngIf="search.Client" matSuffix mat-icon-button aria-label="Clear" (click)="search.Client='';loadSales()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Client}} </td>
        </ng-container>
        <ng-container matColumnDef="ByBill">
          <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Por facturar</div> 
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.ByBill" (change)="loadSales()">
              <button mat-button *ngIf="search.ByBill" matSuffix mat-icon-button aria-label="Clear" (click)="search.ByBill='';loadSales()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.ByBill | currency }} </td>
        </ng-container>
        <ng-container matColumnDef="Route">
          <th mat-header-cell *matHeaderCellDef><div mat-sort-header> RUTA </div>
            <mat-form-field>
              <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadSales()">
              <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadSales()">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadSales('',$event)" ></mat-paginator>
  </ng-container>
</section>