<div class="container" style="width: 50%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nuevo cliente</mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form" (ngSubmit)="saveClient()"> 
      <mat-card-content class="marg-top-bot-50 t-center form-container">
          <mat-form-field>
            <input matInput placeholder="Cliente" formControlName="Client">
            <mat-error *ngIf="form.controls.Client.status==='INVALID'">Favor escribir el nombre del cliente.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Telefono" formControlName="PhoneNumber">
            <mat-error *ngIf="form.controls.PhoneNumber.status==='INVALID'">Favor escribir el numero de telefono.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Direccion" formControlName="Address">
            <mat-error *ngIf="form.controls.Address.status==='INVALID'">Favor escribir la direccion del cliente.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Colonia" formControlName="Colony">
            <mat-error *ngIf="form.controls.Colony.status==='INVALID'">Favor escribir la colonia del cliente.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <mat-select placeholder="Ruta"  formControlName="Fk_IdRoute">
                <mat-option *ngFor="let r of Routes | objectToArray" value="{{r.Id_Route}}">
                    {{r.Route}} 
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.Fk_IdRoute.status==='INVALID'">Favor de seleccionar una ruta.</mat-error>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">done</i> Guardar</button>
        <button mat-flat-button color="warn" class="marg-3" [routerLink]="[ '/catalogos/clientes/' ]"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
