
<div class="container" style="width: 30%; margin: auto;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Puricenter</mat-card-title>
    </mat-card-header>
    <mat-divider>
    </mat-divider>
    <form [formGroup]="form"  (ngSubmit)="login()"> 
      <mat-card-content class="marg-top-bot-50 t-center form-container">
        <mat-form-field>
          <input matInput placeholder="Usuario" formControlName="user" type="text">
          <mat-error *ngIf="form.controls.user.status==='INVALID'">Error en el usuario.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contraseña" type="password" formControlName="password">
          <mat-error *ngIf="form.controls.password.status==='INVALID'">Error en la contraseña.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="t-center">
        <button mat-flat-button color="primary" class="marg-3" type="submit"><i class="material-icons">lock</i> Entrar</button>
        <button mat-flat-button color="warn" class="marg-3" type="reset"><i class="material-icons">not_interested</i> Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>