<section class="section-content">
    <mat-list class="list-title">
      <mat-list-item>Lista de gastos</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div  *ngIf="isLoadingResults" class="loading-shade">
      <div class="spinner"><mat-spinner></mat-spinner></div>
    </div>
    <ng-container *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" (matSortChange)="loadData($event)" matSort matSortActive="Name" matSortDisableClear matSortDirection="asc">
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>
                <button mat-mini-fab color="primary" [routerLink]="[ '/catalogos/expenses/new' ]" matTooltip="Agregar nuevo gasto" aria-label="Button that displays a tooltip when focused or hovered over">
                  <mat-icon>add</mat-icon>
                </button> 
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" matTooltip="Eliminar gasto" (click)="deleteDialog(element.Id_Expense,element.Expense)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="Expense">
            <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Gasto</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Expense" (change)="loadData()">
                <button mat-button *ngIf="search.Expense" matSuffix mat-icon-button aria-label="Clear" (click)="search.Expense='';loadData()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Expense }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadData('',$event)" ></mat-paginator>
    </ng-container>
  </section>