<section class="section-content">
    <mat-list class="list-title">
      <mat-list-item><button mat-stroked-button color="primary" [routerLink]="[ '/debt-sheet/list' ]" style="margin-right: 1em;"><i class="material-icons"> reply </i> Regresar  </button>  Deuda del cliente {{nameClient}}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <div  *ngIf="isLoadingResults" class="loading-shade">
      <div class="spinner"><mat-spinner></mat-spinner></div>
    </div>
    <ng-container *ngIf="dataSource">
        <table mat-table [dataSource]="dataSource" (matSortChange)="loadDebtDetail($event)" matSort matSortActive="Date" matSortDisableClear matSortDirection="asc">
          <ng-container matColumnDef="Options">
            <th mat-header-cell *matHeaderCellDef>
                
            </th>
            <td mat-cell *matCellDef="let element">
            </td>
          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> <div mat-sort-header>Fecha Venta</div> 
              <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Buscar..." (dateChange)="loadDebtDetail()" [(ngModel)]="search.Date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <button mat-button *ngIf="search.Date" matSuffix mat-icon-button aria-label="Clear" (click)="search.Date='';loadDebtDetail()">
                      <mat-icon>close</mat-icon>
                    </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
          </ng-container>
          <ng-container matColumnDef="Note">
            <th mat-header-cell *matHeaderCellDef><div  mat-sort-header>Nota</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Note" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Note" matSuffix mat-icon-button aria-label="Clear" (click)="search.Note='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Note}} </td>
          </ng-container>
          <ng-container matColumnDef="Quantity">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Garrafones </div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Quantity" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Quantity" matSuffix mat-icon-button aria-label="Clear" (click)="search.Quantity='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Quantity }} </td>
          </ng-container>
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Precio de venta </div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Price" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Price" matSuffix mat-icon-button aria-label="Clear" (click)="search.Price='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Price | currency }} </td>
          </ng-container>
          <ng-container matColumnDef="Total">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Total </div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Total" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Total" matSuffix mat-icon-button aria-label="Clear" (click)="search.Total='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Total | currency }} </td>
          </ng-container>
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Usuario</div> 
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Name" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Name" matSuffix mat-icon-button aria-label="Clear" (click)="search.Name='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.Name }} </td>
          </ng-container>
          <ng-container matColumnDef="DateRecords">
              <th mat-header-cell *matHeaderCellDef><div mat-sort-header>Fecha Registro</div> 
                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Buscar..." [(ngModel)]="search.DateRecords" (dateChange)="loadDebtDetail()">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <button mat-button *ngIf="search.DateRecords" matSuffix mat-icon-button aria-label="Clear" (click)="search.DateRecords='';loadDebtDetail()">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
              </th>
              <td mat-cell *matCellDef="let element"> {{ element.DateRecords }} </td>
            </ng-container>
          <ng-container matColumnDef="Route">
            <th mat-header-cell *matHeaderCellDef><div mat-sort-header> RUTA </div>
              <mat-form-field>
                <input matInput placeholder="Buscar" [(ngModel)]="search.Route" (change)="loadDebtDetail()">
                <button mat-button *ngIf="search.Route" matSuffix mat-icon-button aria-label="Clear" (click)="search.Route='';loadDebtDetail()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.Route}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="resultsLength"  [pageSize]="25" [pageSizeOptions]="[5, 10, 25,50,100]" showFirstLastButtons #paginator [pageIndex]="pageIndex"  (page)="loadDebtDetail('',$event)" ></mat-paginator>
    </ng-container>
  </section>