<mat-card class="t-center">
  <form [formGroup]="form">
    <mat-form-field style="width:15em !important;">
      <mat-select placeholder="Semana de trabajo" formControlName="WorkWeek" (selectionChange)="onChangeWeek()">
        <mat-option *ngFor="let p of periods" [value]="p.Id_Period" [attr.data-status]="p.Status">
          {{p.DateInin | dateFormat }} al {{p.DateEnd | dateFormat}}
        </mat-option>
      </mat-select>
    </mat-form-field>    
    <mat-form-field>    
      <mat-select placeholder="Dia de trabajo " formControlName="WorkDay" (selectionChange)="onChangeDay()" [(ngModel)]="WorkDayM">
        <mat-option *ngFor="let d of days" [value]="d.Id_Cut" [attr.day]="d.Day">
            {{d.Day}} {{d.Date | dateFormat}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-card>
<div  *ngIf="isLoadingResults" class="loading-shade">
  <div class="spinner"><mat-spinner></mat-spinner></div>
</div>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Ventas del día">
    <form [formGroup]="formAddSales" (ngSubmit)="saveSaleDay()" class="form-100" [hidden]="!WorkDayM"> 
    <table class="table-addsales-routes table-100 mar-top-1em table-gral-excel">
        <thead>
          <tr class="head">
            <th>Accion</th>
            <th>Cliente</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Nota</th>
            <th>Promocion</th>
            <th>Total</th>
          </tr>
          <tr>
            <th>
                <button mat-mini-fab color="primary" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                  <mat-icon>add</mat-icon>
                </button> 
            </th>
            <th>
              <mat-form-field>
                <mat-select placeholder="Cliente"  formControlName="Fk_IdClient" autocomplete="off">
                  <mat-option *ngFor="let c of clients | objectToArray" [value]="c.Id_Client">
                      {{c.Client}} 
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formAddSales.controls.Fk_IdClient.status==='INVALID'">Selecciona el cliente.</mat-error>
              </mat-form-field>
            </th>
            <th>
            <mat-form-field>
              <mat-select placeholder="Precio"  formControlName="Fk_IdProduct" autocomplete="off" (selectionChange)="calculaTotalAddSaleDay()">
                <mat-option *ngFor="let p of products | objectToArray" [value]="p.Id_Product">
                   ${{ p.Price || currency }} pesos
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formAddSales.controls.Fk_IdProduct.status==='INVALID'">Selecciona el precio.</mat-error>
            </mat-form-field>
            </th>
            <th>
              <mat-form-field>
                <input matInput placeholder="Cantidad" formControlName="Quantity" type="number" min="1" autocomplete="off"  (change)="calculaTotalAddSaleDay()">
                <mat-error *ngIf="formAddSales.controls.Quantity.status==='INVALID'">Numero vendido</mat-error>
              </mat-form-field>
            </th>
            
            <th>
              <mat-form-field>
                <input matInput placeholder="Nota" formControlName="Note" type="text"  autocomplete="off">
                <mat-error *ngIf="formAddSales.controls.Note.status==='INVALID'">Numero de nota</mat-error>
              </mat-form-field>
            </th>
            <th>
              <mat-form-field>
                <input matInput placeholder="Promocion" formControlName="Promotion" type="number"  min="1" autocomplete="off">
              </mat-form-field>
            </th>
            <th>
              <mat-form-field>
                <input matInput placeholder="Total" formControlName="Total" readonly [(ngModel)]="addTotalSaleDay">
              </mat-form-field>
            </th>
          </tr>      
        </thead>
        <tbody>
          <tr *ngFor="let val of $tableSalesDay  | objectToArray">
            <td>
              <a mat-icon-button class="c-red" matTooltip="Eliminar venta de {{val.Client}}"  (click)="deleteSaleDayDialog(val.Id_Detail, val.Client, val.Quantity)"> 
                <mat-icon>highlight_off</mat-icon>
              </a>
            </td>
            <td>{{val.Client}}</td>
            <td class="t-right">{{val.Price | currency}}</td>
            <td class="t-right">{{val.Quantity}}</td>
            <td class="t-center">{{val.Note}}</td>
            <td class="t-right">{{val.Promotion}}</td>
            <td class="t-right"><strong>{{(val.Quantity * val.Price) | currency}}</strong></td>
          </tr>
          <tr class="table-total">
            <td></td>
            <td class="t-center"><strong>TOTAL</strong></td>
            <td></td>
            <td class="t-right"> <strong>{{TotalGarrafonesSalesDay}}</strong></td>
            <td></td>
            <td></td>
            <td class="t-right"> <strong>{{ TotalSalesDay | currency}}</strong> </td>
          </tr>
        </tbody>
      </table>
    </form>
  </mat-tab>
  <mat-tab label="Fiados del día">  
      <form [formGroup]="formDebtDay" (ngSubmit)="saveDebtDay()" class="form-100" [hidden]="!WorkDayM"> 
          <table class="table-adddebet-routes table-100 mar-top-1em table-gral-excel">
              <thead>
                <tr class="head">
                  <th>Accion</th>
                  <th>Cliente</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Nota</th>
                  <th>Promocion</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <th>
                      <button mat-mini-fab color="accent" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>add</mat-icon>
                      </button> 
                  </th>
                  <th>
                    <mat-form-field>
                      <mat-select placeholder="Cliente"  formControlName="Fk_IdClientDebt" autocomplete="off">
                        <mat-option *ngFor="let c of clients | objectToArray" [value]="c.Id_Client">
                            {{c.Client}} 
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="formDebtDay.controls.Fk_IdClientDebt.status==='INVALID'">Selecciona el cliente.</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                  <mat-form-field>
                    <mat-select placeholder="Precio"  formControlName="Fk_IdProductDebt" autocomplete="off" (selectionChange)="calculaTotalAddDebtDay()">
                      <mat-option *ngFor="let p of products | objectToArray" [value]="p.Id_Product">
                         ${{ p.Price || currency }} pesos
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formDebtDay.controls.Fk_IdProductDebt.status==='INVALID'">Selecciona el precio.</mat-error>
                  </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cantidad" formControlName="QuantityDebt" type="number" min="1" autocomplete="off"  (change)="calculaTotalAddDebtDay()">
                      <mat-error *ngIf="formDebtDay.controls.QuantityDebt.status==='INVALID'">Numero vendido</mat-error>
                    </mat-form-field>
                  </th>
                  
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Nota" formControlName="NoteDebt" type="text" autocomplete="off">
                      <mat-error *ngIf="formDebtDay.controls.NoteDebt.status==='INVALID'">Numero de nota</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Promocion" formControlName="PromotionDebt" type="number"  min="1" autocomplete="off">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Total" formControlName="TotalDebt" readonly [(ngModel)]="addTotalDebtDay">
                    </mat-form-field>
                  </th>
                </tr>      
              </thead>
              <tbody>
                <tr *ngFor="let val of $tableDebtDay  | objectToArray">
                  <td>
                    <a *ngIf="val.Status!='Pagado'" mat-icon-button class="c-red" matTooltip="Eliminar venta de {{val.Client}}"  (click)="deleteDebtDayDialog(val.Id_Detail, val.Client, val.Quantity)"> 
                      <mat-icon>highlight_off</mat-icon>
                    </a>
                  </td>
                  <td>{{val.Client}}</td>
                  <td class="t-right">{{val.Price | currency}}</td>
                  <td class="t-right">{{val.Quantity}}</td>
                  <td class="t-center">{{val.Note}}</td>
                  <td class="t-right">{{val.Promotion}}</td>
                  <td class="t-right"><strong>{{(val.Quantity * val.Price) | currency}}</strong></td>
                </tr>
                <tr class="table-total">
                  <td></td>
                  <td class="t-center"><strong>TOTAL</strong></td>
                  <td></td>
                  <td class="t-right"> <strong>{{TotalGarrafonesDebtDay}}</strong></td>
                  <td></td>
                  <td></td>
                  <td class="t-right"> <strong>{{ TotalDebtDay | currency}}</strong> </td>
                </tr>
              </tbody>
            </table>
      </form>
  </mat-tab>
  <mat-tab label="Pagados del día">
      <form [formGroup]="formPaymentDay" (ngSubmit)="savePaymentDay()" class="form-100" [hidden]="!WorkDayM"> 
          <table class="table-addpayment-routes table-100 mar-top-1em table-gral-excel">
              <thead>
                <tr class="head">
                  <th>Accion</th>
                  <th>Nota</th>
                  <th>Cliente</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Promocion</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <th>
                      <button mat-mini-fab class="bg-green" type="submit" matTooltip="Pagar" aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>check_circle_outline</mat-icon>
                      </button> 
                  </th>
                  <th>
                      <mat-form-field>
                        <input matInput placeholder="Nota" formControlName="NotePayment" type="text"  autocomplete="off" (keyup)="loadNoteDebt()">
                        <mat-error *ngIf="formPaymentDay.controls.NotePayment.status==='INVALID'">Numero de nota</mat-error>
                      </mat-form-field>
                    </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cliente" formControlName="ClientPayment"  readonly [(ngModel)]="ClientNote">
                    </mat-form-field>
                  </th>
                  <th>
                  <mat-form-field>
                    <input matInput placeholder="Precio" formControlName="PricePayment"  readonly [(ngModel)]="PriceNote">
                  </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cantidad" formControlName="QuantityPayment"  readonly [(ngModel)]="QuantityNote">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Promocion" formControlName="PromotionPayment"  readonly [(ngModel)]="PromotionNote">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Total" formControlName="TotalPayment"  readonly [(ngModel)]="TotalNote">
                    </mat-form-field>
                  </th>
                </tr>      
              </thead>
              <tbody>
                <tr *ngFor="let val of $tablePaymentDay  | objectToArray">
                  <td>
                    <a mat-icon-button class="c-red" matTooltip="Eliminar pago de {{val.Client}}"  (click)="deletePaymentDayDialog(val.Id_Detail, val.Client, val.Quantity)"> 
                      <mat-icon>highlight_off</mat-icon>
                    </a>
                  </td>
                  <td class="t-center">{{val.Note}}</td>
                  <td>{{val.Client}}</td>
                  <td class="t-right">{{val.Price | currency}}</td>
                  <td class="t-right">{{val.Quantity}}</td>
                  <td class="t-right">{{val.Promotion}}</td>
                  <td class="t-right"><strong>{{(val.Quantity * val.Price) | currency}}</strong></td>
                </tr>
                <tr class="table-total">
                    <td></td>
                    <td></td>
                    <td class="t-center"><strong>TOTAL</strong></td>
                    <td></td>
                    <td class="t-right"> <strong>{{TotalGarrafonesPaymentDay}}</strong></td>
                    <td></td>
                    <td class="t-right"> <strong>{{ TotalPaymentDay | currency}}</strong> </td>
                  </tr>
              </tbody>
            </table>
      </form>
  </mat-tab>
  <mat-tab label="Gastos del día">
    <form [formGroup]="formExpenseDay" (ngSubmit)="saveExpenseDay()" class="form-100" [hidden]="!WorkDayM"> 
        <table class="table-addexpenses-routes table-100 mar-top-1em table-gral-excel">
            <thead>
              <tr class="head">
                <th>Accion</th>
                <th>Gasto</th>
                <th>Costo</th>
                <th>Descripción</th>
              </tr>
              <tr>
                <th>
                    <button mat-mini-fab class="bg-green" type="submit" matTooltip="Agregar gasto" aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button> 
                </th>
                <th>
                  <mat-form-field>
                    <mat-select placeholder="Gasto"  formControlName="Fk_IdExpense" autocomplete="off">
                      <mat-option *ngFor="let c of expenses | objectToArray" [value]="c.Id_Expense">
                          {{c.Expense}} 
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formExpenseDay.controls.Fk_IdExpense.status==='INVALID'">Selecciona el gasto.</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Costo" formControlName="Cost" type="number" min="1" step="0.01" autocomplete="off">
                    <mat-error *ngIf="formExpenseDay.controls.Cost.status==='INVALID'">Agrega el costo del gasto</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Descripción" formControlName="Description" type="text"  autocomplete="off">
                  </mat-form-field>
                </th>
              </tr>      
            </thead>
            <tbody>
              <tr *ngFor="let val of $tableExpensesDay  | objectToArray">
                <td class="t-center">
                  <a mat-icon-button class="c-red" matTooltip="Eliminar gasto {{val.Expense}}"  (click)="deleteExpenseDayDialog(val.Id_Detail, val.Expense, val.Cost)"> 
                    <mat-icon>highlight_off</mat-icon>
                  </a>
                </td>
                <td>{{val.Expense}}</td>
                <td>{{val.Cost | currency }}</td>
                <td>{{val.Description}}</td>
              </tr>
              <tr class="table-total">
                <td></td>
                <td class="t-center"><strong>TOTAL</strong></td>
                <td class="t-left"> <strong>{{ TotalExpensesDay | currency}}</strong> </td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </form>
</mat-tab>
</mat-tab-group>
