.table-addsales-routes tr.head th{
    background: rgb(0,176,240);
    padding:6px;
}
.table-adddebet-routes tr.head th{
    background: #ff5573;
    padding:6px;
}
.table-addpayment-routes tr.head th{
    background: #5cb85c;
    padding:6px;
}
.table-addexpenses-routes tr.head th{
    background: red;
    padding:6px;
}
.table-gral-excel{
    border-spacing: 0 !important;
	border-collapse: collapse !important;
}
.table-gral-excel tbody tr td{
    border-top: solid 1px #ffe9e9;
    border-bottom: solid 1px #ffe9e9;
    border-left: solid 1px #ffe9e9;
    border-right: solid 1px #ffe9e9;
    padding: 6px 8px;
	position: relative;
	color:#7d6969 !important;
}