/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";
@import "https://fonts.googleapis.com/css?family=Roboto&display=swap";

.lowwer{
    text-transform: lowercase;
}
.upper{
    text-transform: uppercase;
}
.t-center{
    text-align: center;
    justify-content: center;
}
.t-right{
    text-align: right;
    justify-content: right;
}
.marg-3{
    margin: 3px !important;
}
.marg-top-50{
    margin-top: 50px;
}
.marg-bot-50{
    margin-bottom: 50px;
}
.marg-top-bot-50{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.bg-blue{
	background-color: #337ab7;
	color:#FFF;
}
.bg-green{
	background-color: #5cb85c !important;
}
.bg-info{
	background-color: #5bc0de;
}
.bg-orange{
	background-color: #dca032;
}
.bg-grey{
    background-color: #fff4f4;
}
.bg-white{
    background-color: white;
}
.c-orange{
	color: #ffaf1c;
}
.c-red{
    color: red;
}
.table-total{
    background: #eeeeee !important;
}
.list-title{
    margin-bottom: 1em;
}
.list-title .mat-list-item-content{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}
.notifier__notification-message{
    font-family: 'Roboto', sans-serif;
}
/** SPINNER ***/
/* Structure */
#section-content{
    position: relative;
    min-height: 20em;
  }
.table-100{
    width: 99.9%;
}
.mar-top-1em{
    margin-top: 1em;
}
.mar-top-5em{
    margin-top: 5em;
}
.loading-shade {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
