<div  *ngIf="isLoadingResults" class="loading-shade">
  <div class="spinner"><mat-spinner></mat-spinner></div>
</div>
<mat-card class="t-center">
  <form [formGroup]="form">
    <mat-form-field style="width:20em !important;">
        <mat-select placeholder="Periodo de trabajo" formControlName="period" (selectionChange)="onChangePeriod()">
          <mat-option *ngFor="let p of periods" [value]="p.Id_Period" [attr.data-status]="p.Status">
            {{p.DateInin | dateFormat }} al {{p.DateEnd | dateFormat}}  <small *ngIf="p.Status != 'Abierto'"> - {{p.Status}}</small>
          </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" class="btn-header" [routerLink]="[ '/nuevo' ]"><i class="material-icons">add</i> Nuevo</button>
    <div *ngIf="statusPeriod" style="display:inline;">
      <button *ngIf="statusPeriod == 'Abierto'" mat-stroked-button class="btn-header" (click)="ClosePeriodDialog()"><i class="material-icons">lock_open</i>{{statusPeriod}}</button>
      <button *ngIf="statusPeriod == 'Cerrado'" mat-flat-button color="accent" class="btn-header" (click)="OpenPeriodDialog()"><i class="material-icons">lock</i>{{statusPeriod}}</button>
      <button *ngIf="statusPeriod" mat-flat-button color="warn" class="btn-header" (click)="DeletePeriodDialog()"><i class="material-icons">delete_sweep</i>Eliminar</button>
    </div>
  </form>
</mat-card>
<mat-tab-group mat-stretch-tabs (selectedTabChange)="loadSheet($event)">
  <mat-tab label="San Juan Cosala" value="tt">
    <table class="table-addsales">
      <ng-container *ngFor="let tab of table | objectToArray">
        <ng-container *ngIf="tab[0].Type === 'thead'">
            <tr>
              <th *ngFor="let row of tab | objectToArray"  [attr.class]="row.CellClass" [attr.colspan]="row.CellColspan">
                {{row.Value}}
              </th>
            </tr>
        </ng-container>
        <ng-container *ngIf="tab[0].Type === 'tbody'">
            <tr>
              <td *ngFor="let row of tab | objectToArray"  [attr.class]="row.CellClass" [attr.colspan]="row.CellColspan">
                  <ng-container *ngIf="row.TypeCell === 'Text'">
                    {{row.Value}}
                  </ng-container>
                  <ng-container *ngIf="row.TypeCell === 'Date'">
                    {{row.Value | dateFormat}}
                  </ng-container>
                  <ng-container *ngIf="row.TypeCell === 'Input' && statusPeriod == 'Abierto'">
                    <input type="text" value="{{row.Value}}" 
                      [attr.class]="row.CellClass" 
                      [attr.disabled]="row.CellDisabled" 
                      [(ngModel)]="row.Value" 
                      (change)="changed(row.Id_Cell,row.Row)" 
                    >
                  </ng-container>
                  <ng-container *ngIf="row.TypeCell === 'Input' && statusPeriod == 'Cerrado' && row.CellClass.indexOf('format-currency') === -1">
                      {{row.Value}}
                  </ng-container>
                  <ng-container *ngIf="row.TypeCell === 'Input' && statusPeriod == 'Cerrado' && row.CellClass.indexOf('format-currency') !== -1">
                    {{row.Value | currency}}
                  </ng-container>
              </td>
            </tr>
        </ng-container>
      </ng-container>
    </table>

  </mat-tab>
  <mat-tab label="Ajijic">  
    <table class="table-addsales">
      <ng-container *ngFor="let tabAjijic of tableAjijic | objectToArray">
        <ng-container *ngIf="tabAjijic[0].Type === 'thead'">
            <tr>
              <th *ngFor="let rowAjijic of tabAjijic | objectToArray"  [attr.class]="rowAjijic.CellClass" [attr.colspan]="rowAjijic.CellColspan">
                {{rowAjijic.Value}}
              </th>
            </tr>
        </ng-container>
        <ng-container *ngIf="tabAjijic[0].Type === 'tbody'">
            <tr>
              <td *ngFor="let rowAjijic of tabAjijic | objectToArray"  [attr.class]="rowAjijic.CellClass" [attr.colspan]="rowAjijic.CellColspan">
                  <ng-container *ngIf="rowAjijic.TypeCell === 'Text'">
                    {{rowAjijic.Value}}
                  </ng-container>
                  <ng-container *ngIf="rowAjijic.TypeCell === 'Date'">
                    {{rowAjijic.Value | dateFormat}}
                  </ng-container>
                  <ng-container *ngIf="rowAjijic.TypeCell === 'Input' && statusPeriod == 'Abierto'">
                    <input type="text" value="{{rowAjijic.Value}}" 
                      [attr.class]="rowAjijic.CellClass" 
                      [attr.disabled]="rowAjijic.CellDisabled" 
                      [(ngModel)]="rowAjijic.Value" 
                      (change)="changedAjijic(rowAjijic.Id_Cell,rowAjijic.Row)" 
                    >
                  </ng-container>
                  <ng-container *ngIf="rowAjijic.TypeCell === 'Input' && statusPeriod == 'Cerrado' && rowAjijic.CellClass.indexOf('format-currency') === -1">
                    {{rowAjijic.Value}}
                  </ng-container>
                  <ng-container *ngIf="rowAjijic.TypeCell === 'Input' && statusPeriod == 'Cerrado' && rowAjijic.CellClass.indexOf('format-currency') !== -1">
                    {{rowAjijic.Value | currency}}
                  </ng-container>
              </td>
            </tr>
        </ng-container>
      </ng-container>
    </table>  
  </mat-tab>
  <mat-tab label="Fiados Cosala">
    <form [formGroup]="formTrustCosala" (ngSubmit)="saveTrustCosala()" class="form-100"> 
      <table class="table-trust-cosala table-100 mar-top-1em table-gral-excel">
          <thead>
            <tr class="head">
              <th>Accion</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Nota</th>
            </tr>
            <ng-container *ngIf="statusPeriod == 'Abierto'">
              <tr>
                <th>
                    <button mat-mini-fab color="primary" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>add</mat-icon>
                    </button> 
                </th>
                <th>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker1" [min]="minDate" [max]="maxDate"  placeholder="Fecha de fiado" formControlName="DateCosala"  autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-error *ngIf="formTrustCosala.controls.DateCosala.status==='INVALID'">Fecha invalida</mat-error>
                    </mat-form-field>
                  </th>
                <th>
                <mat-form-field>
                    <mat-select placeholder="Cliente"  formControlName="Fk_IdClientCosala" autocomplete="off">
                      <mat-option *ngFor="let c of clientsCosala | objectToArray" [value]="c.Id_Client">
                          {{c.Client}} 
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formTrustCosala.controls.Fk_IdClientCosala.status==='INVALID'">Selecciona el cliente.</mat-error>
                  </mat-form-field>
                </th>
                <th>
                <mat-form-field>
                  <mat-select placeholder="Precio"  formControlName="Fk_IdProductCosala" autocomplete="off" (selectionChange)="calculaTotalTrustCosala()">
                    <mat-option *ngFor="let p of productsCosala | objectToArray" [value]="p.Id_Product">
                      ${{ p.Price || currency }} pesos
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formTrustCosala.controls.Fk_IdProductCosala.status==='INVALID'">Selecciona el precio.</mat-error>
                </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Cantidad" formControlName="QuantityCosala" type="number" min="1" autocomplete="off" (change)="calculaTotalTrustCosala()">
                    <mat-error *ngIf="formTrustCosala.controls.QuantityCosala.status==='INVALID'">Cantidad invalida</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Total" formControlName="TotalCosala" readonly type="number"  min="1" autocomplete="off" [(ngModel)]="noteTotalTrustCosala">
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Nota" formControlName="NoteCosala" type="text" autocomplete="off">
                    <mat-error *ngIf="formTrustCosala.controls.NoteCosala.status==='INVALID'">Numero de nota</mat-error>
                  </mat-form-field>
                </th>
              </tr>
          </ng-container>      
          </thead>
          <tbody>
            <tr *ngFor="let val of tableTrustCosala  | objectToArray">
              <td>
                <a *ngIf="statusPeriod == 'Abierto' && val.Status=='Sin pago'" mat-icon-button class="c-red" matTooltip="Eliminar fiados de {{val.Client}}"  (click)="deleteTrustDayDialog(val.Id_Trust, val.Client, val.Quantity, 'cosala')"> 
                  <mat-icon>highlight_off</mat-icon>
                </a>
              </td>
              <td class="t-center">{{val.Date | dateFormat}}</td>
              <td>{{val.Client}}</td>
              <td class="t-right">{{val.Quantity}}</td>
              <td class="t-right">{{val.Price | currency}}</td>
              <td class="t-right">{{val.Total | currency}}</td>
              <td class="t-center">{{val.Note}}</td>
            </tr>
            <tr class="table-total">
              <td colspan="3" class="t-center" ><strong>TOTAL</strong></td>
              <td class="t-right"> {{ TotalTrustGarrafoneChapalaPeriod}} </td>
              <td></td>
              <td class="t-right"> <strong>{{ TotalTrustChapalaPeriod | currency}}</strong> </td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </form>
  </mat-tab>
  <mat-tab label="Fiados Ajijic"> 
      <form [formGroup]="formTrustAjijic" (ngSubmit)="saveTrustAjijic()" class="form-100"> 
          <table class="table-trust-ajijic table-100 mar-top-1em table-gral-excel">
              <thead>
                <tr class="head">
                  <th>Accion</th>
                  <th>Fecha</th>
                  <th>Cliente</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                  <th>Nota</th>
                </tr>
                <ng-container *ngIf="statusPeriod == 'Abierto'">
                  <tr>
                    <th>
                        <button mat-mini-fab color="accent" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                          <mat-icon>add</mat-icon>
                        </button> 
                    </th>
                    <th>
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker1" [min]="minDate" [max]="maxDate"  placeholder="Fecha de fiado" formControlName="DateAjijic"  autocomplete="off">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                          <mat-error *ngIf="formTrustAjijic.controls.DateAjijic.status==='INVALID'">Fecha invalida</mat-error>
                        </mat-form-field>
                      </th>
                    <th>
                    <mat-form-field>
                        <mat-select placeholder="Cliente"  formControlName="Fk_IdClientAjijic" autocomplete="off">
                          <mat-option *ngFor="let c of clientsAjijic | objectToArray" [value]="c.Id_Client">
                              {{c.Client}} 
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formTrustAjijic.controls.Fk_IdClientAjijic.status==='INVALID'">Selecciona el cliente.</mat-error>
                      </mat-form-field>
                    </th>
                    <th>
                    <mat-form-field>
                      <mat-select placeholder="Precio"  formControlName="Fk_IdProductAjijic" autocomplete="off" (selectionChange)="calculaTotalTrustAjijic()">
                        <mat-option *ngFor="let p of productsAjijic | objectToArray" [value]="p.Id_Product">
                          ${{ p.Price || currency }} pesos
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="formTrustAjijic.controls.Fk_IdProductAjijic.status==='INVALID'">Selecciona el precio.</mat-error>
                    </mat-form-field>
                    </th>
                    <th>
                      <mat-form-field>
                        <input matInput placeholder="Cantidad" formControlName="QuantityAjijic" type="number" min="1" autocomplete="off" (change)="calculaTotalTrustAjijic()">
                        <mat-error *ngIf="formTrustAjijic.controls.QuantityAjijic.status==='INVALID'">Cantidad invalida</mat-error>
                      </mat-form-field>
                    </th>
                    <th>
                      <mat-form-field>
                        <input matInput placeholder="Total" formControlName="TotalAjijic" readonly type="number"  min="1" autocomplete="off" [(ngModel)]="noteTotalTrustAjijic">
                      </mat-form-field>
                    </th>
                    <th>
                      <mat-form-field>
                        <input matInput placeholder="Nota" formControlName="NoteAjijic" type="text" autocomplete="off">
                        <mat-error *ngIf="formTrustAjijic.controls.NoteAjijic.status==='INVALID'">Numero de nota</mat-error>
                      </mat-form-field>
                    </th>
                  </tr>
              </ng-container>      
              </thead>
              <tbody>
                <tr *ngFor="let val of tableTrustAjijic  | objectToArray">
                  <td>
                    <a *ngIf="statusPeriod == 'Abierto' && val.Status=='Sin pago'" mat-icon-button class="c-red" matTooltip="Eliminar fiados de {{val.Client}}"  (click)="deleteTrustDayDialog(val.Id_Trust, val.Client, val.Quantity, 'ajijic')"> 
                      <mat-icon>highlight_off</mat-icon>
                    </a>
                  </td>
                  <td class="t-center">{{val.Date | dateFormat}}</td>
                  <td>{{val.Client}}</td>
                  <td class="t-right">{{val.Quantity}}</td>
                  <td class="t-right">{{val.Price | currency}}</td>
                  <td class="t-right">{{val.Total | currency}}</td>
                  <td class="t-center">{{val.Note}}</td>
                </tr>
                <tr class="table-total">
                  <td colspan="3" class="t-center" ><strong>TOTAL</strong></td>
                  <td class="t-right"> {{ TotalTrustGarrafoneAjijicPeriod}} </td>
                  <td></td>
                  <td class="t-right"> <strong>{{ TotalTrustAjijicPeriod | currency}}</strong> </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
      </form>
  </mat-tab>
  <mat-tab label="Pagados Cosala">
      <form [formGroup]="formPaymentCosala" (ngSubmit)="savePaymentNotes()" class="form-100"> 
        <table class="table-payments-cosala table-100 mar-top-1em table-gral-excel">
            <thead>
              <tr class="head">
                <th>Accion</th>
                <th>Nota</th>
                <th>Fecha de pago</th>
                <th>Cliente</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Fecha de fiado</th>
              </tr>
              <ng-container *ngIf="statusPeriod == 'Abierto'">
                <tr>
                  <th>
                      <button mat-mini-fab class="bg-green" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>check_circle_outline</mat-icon>
                      </button> 
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Nota" formControlName="NotePaymentCosala" type="text" autocomplete="off" (keyup)="loadNoteForPayment('cosala')">
                      <mat-error *ngIf="formPaymentCosala.controls.NotePaymentCosala.status==='INVALID'">Numero de nota</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker3" [min]="minDate" [max]="maxDate" placeholder="Fecha de pago" formControlName="DatePaymentCosala"  autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                      <mat-error *ngIf="formPaymentCosala.controls.DatePaymentCosala.status==='INVALID'">Fecha invalida</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cliente"  readonly  autocomplete="off" formControlName="ClientPaymentCosala" [(ngModel)]="notePayment.Client">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Precio"  readonly  autocomplete="off" formControlName="PricePaymentCosala" [(ngModel)]="notePayment.Price">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cantidad" readonly autocomplete="off" formControlName="QuantityPaymentCosala" [(ngModel)]="notePayment.Quantity">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Total" readonly autocomplete="off" formControlName="TotalPaymentCosala" [(ngModel)]="notePayment.Total">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Fecha de fiado" readonly autocomplete="off" formControlName="DateDebtPaymentCosala" [(ngModel)]="notePayment.Date">
                    </mat-form-field>
                  </th>
                </tr>
            </ng-container>      
            </thead>
            <tbody>
              <tr *ngFor="let val of tableTrustPaymentCosala  | objectToArray">
                <td>
                  <a *ngIf="statusPeriod == 'Abierto'" mat-icon-button class="c-red" matTooltip="Eliminar pagos de {{val.Client}}"  (click)="deletePaymentDialog(val.Id_Trust, val.Client, val.Quantity, 'cosala')"> 
                    <mat-icon>highlight_off</mat-icon>
                  </a>
                </td>
                <td class="t-center">{{val.Note}}</td>
                <td class="t-center">{{val.DatePayment | dateFormat}}</td>
                <td>{{val.Client}}</td>
                <td class="t-right">{{val.Quantity}}</td>
                <td class="t-right">{{val.Price | currency}}</td>
                <td class="t-right">{{val.Total | currency}}</td>
                <td class="t-center">{{val.Date | dateFormat}}</td>
              </tr>
              <tr class="table-total">
                <td colspan="4" class="t-center" ><strong>TOTAL</strong></td>
                <td class="t-right"> {{ TotalPayGarrafoneChapalaPeriod}} </td>
                <td></td>
                <td class="t-right"> <strong>{{ TotalPaymentChapalaPeriod | currency}}</strong> </td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </form>
  </mat-tab>
  <mat-tab label="Pagados Ajijic"> 
    <form [formGroup]="formPaymentAjijic" (ngSubmit)="savePaymentNotesAjijic()" class="form-100"> 
        <table class="table-payments-ajijic table-100 mar-top-1em table-gral-excel">
            <thead>
              <tr class="head">
                <th>Accion</th>
                <th>Nota</th>
                <th>Fecha de pago</th>
                <th>Cliente</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Fecha de fiado</th>
              </tr>
              <ng-container *ngIf="statusPeriod == 'Abierto'">
                <tr>
                  <th>
                      <button mat-mini-fab class="bg-green" type="submit" matTooltip="Guardar" aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>check_circle_outline</mat-icon>
                      </button> 
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Nota" formControlName="NotePaymentAjijic" type="text" autocomplete="off" (keyup)="loadNoteForPayment('ajijic')">
                      <mat-error *ngIf="formPaymentAjijic.controls.NotePaymentAjijic.status==='INVALID'">Numero de nota</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker3" [min]="minDate" [max]="maxDate"  placeholder="Fecha de pago" formControlName="DatePaymentAjijic"  autocomplete="off">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                      <mat-error *ngIf="formPaymentAjijic.controls.DatePaymentAjijic.status==='INVALID'">Fecha invalida</mat-error>
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cliente"  readonly  autocomplete="off" formControlName="ClientPaymentAjijic" [(ngModel)]="notePayment.Client">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Precio"  readonly  autocomplete="off" formControlName="PricePaymentAjijic" [(ngModel)]="notePayment.Price">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Cantidad" readonly autocomplete="off" formControlName="QuantityPaymentAjijic" [(ngModel)]="notePayment.Quantity">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Total" readonly autocomplete="off" formControlName="TotalPaymentAjijic" [(ngModel)]="notePayment.Total">
                    </mat-form-field>
                  </th>
                  <th>
                    <mat-form-field>
                      <input matInput placeholder="Fecha de fiado" readonly autocomplete="off" formControlName="DateDebtPaymentAjijic" [(ngModel)]="notePayment.Date">
                    </mat-form-field>
                  </th>
                </tr>
            </ng-container>      
            </thead>
            <tbody>
              <tr *ngFor="let val of tableTrustPaymentAjijic  | objectToArray">
                <td>
                  <a *ngIf="statusPeriod == 'Abierto'" mat-icon-button class="c-red" matTooltip="Eliminar pagos de {{val.Client}}"  (click)="deletePaymentDialog(val.Id_Trust, val.Client, val.Quantity, 'ajijic')"> 
                    <mat-icon>highlight_off</mat-icon>
                  </a>
                </td>
                <td class="t-center">{{val.Note}}</td>
                <td class="t-center">{{val.DatePayment | dateFormat}}</td>
                <td>{{val.Client}}</td>
                <td class="t-right">{{val.Quantity}}</td>
                <td class="t-right">{{val.Price | currency}}</td>
                <td class="t-right">{{val.Total | currency}}</td>
                <td class="t-center">{{val.Date | dateFormat}}</td>
              </tr>
              <tr class="table-total">
                <td colspan="4" class="t-center" ><strong>TOTAL</strong></td>
                <td class="t-right"> {{ TotalPayGarrafoneAjijicPeriod}} </td>
                <td></td>
                <td class="t-right"> <strong>{{ TotalPaymentAjijicPeriod | currency}}</strong> </td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </form>
  </mat-tab>
  <mat-tab label="Gastos"> 
    <form [formGroup]="formExpenses" (ngSubmit)="saveExpense()" class="form-100"> 
        <table class="table-addexpenses table-100 mar-top-1em table-gral-excel">
            <thead>
              <tr class="head">
                <th>Accion</th>
                <th>Ruta</th>
                <th>Gasto</th>
                <th>Costo</th>
                <th>Descripción</th>
              </tr>
              <tr *ngIf="statusPeriod == 'Abierto'">
                <th>
                    <button mat-mini-fab class="bg-green" type="submit" matTooltip="Agregar gasto" aria-label="Button that displays a tooltip when focused or hovered over">
                      <mat-icon>check_circle_outline</mat-icon>
                    </button> 
                </th>
                <th>
                  <mat-form-field>
                    <mat-select placeholder="Ruta"  formControlName="Fk_IdRoute" autocomplete="off">
                      <mat-option *ngFor="let c of routes | objectToArray" [value]="c.Id_Route">
                          {{c.Route}} 
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formExpenses.controls.Fk_IdRoute.status==='INVALID'">Selecciona la ruta.</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <mat-select placeholder="Gasto"  formControlName="Fk_IdExpense" autocomplete="off">
                      <mat-option *ngFor="let c of expenses | objectToArray" [value]="c.Id_Expense">
                          {{c.Expense}} 
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formExpenses.controls.Fk_IdExpense.status==='INVALID'">Selecciona el gasto.</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Costo" formControlName="Cost" type="number" min="1" step="0.01" autocomplete="off">
                    <mat-error *ngIf="formExpenses.controls.Cost.status==='INVALID'">Agrega el costo del gasto</mat-error>
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field>
                    <input matInput placeholder="Descripción" formControlName="Description" type="text"  autocomplete="off">
                  </mat-form-field>
                </th>
              </tr>      
            </thead>
            <tbody>
              <tr *ngFor="let val of tableExpenses  | objectToArray">
                <td class="t-center">
                  <a *ngIf="statusPeriod == 'Abierto'" mat-icon-button class="c-red" matTooltip="Eliminar gasto {{val.Expense}}"  (click)="deleteExpenseDialog(val.Id_Detail, val.Expense, val.Cost)"> 
                    <mat-icon>highlight_off</mat-icon>
                  </a>
                </td>
                <td>{{val.Route}}</td>
                <td>{{val.Expense}}</td>
                <td>{{val.Cost | currency }}</td>
                <td>{{val.Description}}</td>
              </tr>
              <tr class="table-total">
                <td></td>
                <td></td>
                <td class="t-center"><strong>TOTAL</strong></td>
                <td class="t-left"> <strong>{{ TotalExpensesPeriod | currency}}</strong> </td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </form>
  </mat-tab>
  <mat-tab label="Sueldos"> 
        <table class="table-addsalary table-100 mar-top-1em table-gral-excel">
            <thead>
              <tr class="head">
                <th>Nombre</th>
                <th>Sueldo semanal</th>
              </tr>     
            </thead>
            <tbody>
              <tr *ngFor="let rowEmploye of tableEmployes  | objectToArray">
                <td>{{ rowEmploye.Name }}</td>
                <td>
                    <ng-container *ngIf="statusPeriod == 'Abierto'">
                      <mat-form-field>
                        <input matInput placeholder="Sueldo" type="number" 
                        value="{{ rowEmploye.Salary }}"
                        [(ngModel)]="rowEmploye.Salary" 
                        (change)="changedSalary(rowEmploye.Id_Employe,rowEmploye)" >
                        <span matPrefix>$&nbsp;</span>
                        <span matSuffix>.00</span>
                      </mat-form-field>
                    </ng-container>
                    <ng-container *ngIf="statusPeriod == 'Cerrado'">{{ rowEmploye.Salary | currency }}</ng-container>
                  </td>
              </tr>
              <tr>
                <td><strong>TOTAL</strong></td>
                <td><strong>{{ totalSalaries | currency }}</strong></td>
              </tr>
            </tbody>
          </table>
  </mat-tab>
</mat-tab-group>
<mat-card class="card-resume" style="margin-top:1.3em;">
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile style="border: solid 1px #CCC;">
          <table>
            <tr style="color:#c3acff">
              <td>VENTA COSALA</td>
              <td>+<strong>{{ TotalSalesCosala | currency}}</strong></td>
            </tr>
            <tr style="color:#a595b0">
              <td>GASTOS COSALA</td>
              <td>- <strong>{{ TotalExpensesCosala | currency }}</strong></td>
            </tr>
            <tr style="color:#a595b0">
              <td>SUELDOS COSALA</td>
              <td>- <strong>{{ totalSalariesCosala | currency}}</strong></td>
            </tr>
            <ng-container *ngIf="(TotalSalesCosala) - (TotalExpensesCosala + totalSalariesCosala) > 0">
              <tr style="color:#71de71" >
                <td><strong>TOTAL COSALA</strong></td>
                <td>  <strong>{{ (TotalSalesCosala) - (TotalExpensesCosala + totalSalariesCosala) | currency}}</strong></td>
              </tr>
            </ng-container>
            <ng-container *ngIf="(TotalSalesCosala) - (TotalExpensesCosala + totalSalariesCosala) <= 0">
              <tr style="color:red" >
                <td><strong>TOTAL COSALA</strong></td>
                <td> <strong>{{ (TotalSalesCosala) - (TotalExpensesCosala + totalSalariesCosala) | currency}}</strong></td>
              </tr>
            </ng-container>
          </table>
        </mat-grid-tile>
        <mat-grid-tile style="border: solid 1px #CCC;">
          <table>
            <tr style="color:#c3acff">
              <td>VENTA AJIJIC</td>
              <td>+<strong>{{ TotalSalesAjijic | currency}}</strong></td>
            </tr>
            <tr style="color:#a595b0">
              <td>GASTOS AJIJIC</td>
              <td>- <strong>{{ TotalExpensesAjijic | currency }}</strong></td>
            </tr>
            <tr style="color:#a595b0">
              <td>SUELDOS AJIJIC</td>
              <td>- <strong>{{ totalSalariesAjijic | currency}}</strong></td>
            </tr>
            <ng-container *ngIf="(TotalSalesAjijic) - (TotalExpensesAjijic + totalSalariesAjijic) > 0">
              <tr style="color:#71de71" >
                <td><strong>TOTAL AJIJIC</strong></td>
                <td>  <strong>{{ (TotalSalesAjijic) - (TotalExpensesAjijic + totalSalariesAjijic) | currency}}</strong></td>
              </tr>
            </ng-container>
            <ng-container *ngIf="(TotalSalesAjijic) - (TotalExpensesAjijic + totalSalariesAjijic) <= 0">
              <tr style="color:red" >
                <td><strong>TOTAL AJIJIC</strong></td>
                <td> <strong>{{ (TotalSalesAjijic) - (TotalExpensesAjijic + totalSalariesAjijic) | currency}}</strong></td>
              </tr>
            </ng-container>
          </table>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" >
            <div>
              <ng-container *ngIf="(TotalSalesAjijic + TotalSalesCosala) - (TotalExpensesPeriod + totalSalaries) > 0">
                <h3 style="color:#71de71" >
                  <strong> GRAN TOTAL </strong>
                  <strong>{{ (TotalSalesAjijic + TotalSalesCosala) - (TotalExpensesPeriod + totalSalaries) | currency}}</strong>
                </h3>
              </ng-container>
              <ng-container *ngIf="(TotalSalesAjijic + TotalSalesCosala) - (TotalExpensesPeriod + totalSalaries) <= 0">
                <h3 style="color:red" >
                  <strong> GRAN TOTAL </strong>
                  <strong> {{ (TotalSalesAjijic + TotalSalesCosala) - (TotalExpensesPeriod + totalSalaries) | currency}} </strong>
                </h3>
              </ng-container>
            </div>
          </mat-grid-tile>
    </mat-grid-list>
</mat-card>