.table-addsales .header{
	display: none !important;
}
.table-addsales{
    width: 100%;
    border-spacing: 0 !important;
	border-collapse: collapse !important;
	font-weight: 200 !important;
}
.table-addsales tr td{
    border-right: solid 1px #ccc !important;
    border-left: solid 1px #ccc !important;
    border-bottom: solid 1px #ccc !important;
	position: relative;
	color:#3e3737;
}
.table-addsales tr th{
	border: solid 1px rgb(36, 29, 29);
	text-align: center;
	min-width: 22px !important;
	font-weight: 500 !important;
	font-size: 14px;
}
.table-addsales tr td input{
	width: 99% !important;
	border: transparent !important;
	padding: 2px 0 !important;
	position: absolute !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.table-addsales tr td select{
	border: 1px transparent solid;
}
.btn-header{
	margin-left: 2px;
	margin-right: 2px;
}
table {
	width: 100%;
}
.table-trust-cosala tr.head th{
	background: rgba(182,233,255,1);
    padding: 6px;
}
.table-payments-cosala tr.head th{
	background: rgba(190,193,209,1);
    padding: 6px;
}
.table-trust-ajijic tr.head th{
	background: rgba(255,182,182,1);
    padding: 6px;
}
.table-payments-ajijic tr.head th{
	background: rgba(255,61,61,1);
    padding: 6px;
}
.table-addexpenses tr.head th{
    background: #de0000;
    padding: 6px;
}
.table-addsalary tr.head th{
    background: #e8e7e7;
    padding: 6px;
}
.table-addsalary tbody tr:nth-child(odd){
    background: #f0f4ff;
    padding: 6px;
}
.table-addsalary tbody tr:nth-child(even){
    background: #fafafa;
    padding: 6px;
}
.card-resume{
	margin: auto;
	width: 600px;
}